.wizard a {
    margin-top: 6px;
    padding: 10px 25px 10px;
    margin-right: 5px;
    background: #f8F8F8;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #0c0973;
}

.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 10px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    
}

.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 10px solid #F8F8F8;
    position: absolute;
    content: "";
    top: 0;
    right: -10px;
    z-index: 2;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
    
}

.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.wizard .label {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}

.wizard a:first-child .badge {
    margin-left: 0;
}

.wizard .current {
    background: #ff8600;
    color: #fff;
}

.wizard .current:after {
    border-left-color: #ff8600;
}
.wizard .done {
    background: #63687C;
    color: #fff;
}

.wizard .done:after {
    border-left-color: #63687C;
}
.btn-group-lg{
    padding: 0;
}

@media only screen and (max-width: 992px){
    .wizard a {
    padding: 8px 10px 8px;
    font-size: 12px;
}

}