<carousel>
  <slide>
    <img class="sliderImage" src="../../../assets/slider/slide1.jpg" alt="First slide">
    <div class="carousel-caption">
      <button routerLink="/order" class="order btn btn-info bg-lg"><h1>Order Now</h1></button>
    </div>
  </slide>
  <slide>
    <img class="sliderImage" src="assets/slider/slide2.jpg" alt="Second slide">
    <div class="carousel-caption">
      <button routerLink="/order" class="order btn btn-info bg-lg"><h1>Order Now</h1></button>
    </div>
  </slide>
  <slide>
    <img class="sliderImage" src="assets/slider/slide3.jpg" alt="Third slide">
    <div class="carousel-caption">
       <button routerLink="/order" class="order btn btn-info bg-lg"><h1>Order Now</h1></button>
    </div>
  </slide>
  <slide>
    <img class="sliderImage" src="assets/slider/slide4.jpg" alt="Fourth slide">
    <div class="carousel-caption">
      <button routerLink="/order" class="order btn btn-info bg-lg"><h1>Order Now</h1></button>
    </div>
  </slide>
</carousel>