.navbar {
  background-color: #ffe2b6;
}
.navbar .navbar-brand {
  color: black;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
  color: black;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #fc004c;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: white;
  background-color: black;
}
.navbar .navbar-toggle {
  border-color: #8e44ad;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #fc004c;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #8e44ad;
  }
}

.basket{
  color: black;
  margin-left: 40%;
}
.basket:link {
    text-decoration: none;
}
.basket:hover {
    text-decoration: none;
    color: #fc004c;
}

.myaccountMenu{
    position: absolute;
    right: 1rem;
}

@media only screen and (max-width: 992px) {
  .myaccountMenu{
    position: relative;
    right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .basket{
    margin-left: 0;
  }
}

