
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Order Confirmation</title>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center style="font-family: palatino; font-size: 1.3rem;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td class="alert alert-warning">
                        <img class="navbar-brand" alt="encoded logo" src="https://aiuueg.bn1302.livefilestore.com/y4m1wGzXSNhnggX5cDQtXCOmTEbfHNtEAQWWIEUTMQ4AlLIEyyCxgOhtWXxL1-rS4guvqYTVNBFKAR7QBjM0hk7M29WeCAZVC8eUdXNRYqFl_jmcTuR6FsbOFR2XKPVxYj7wjTbTh4dDQdeqHg6RtzfYJ5Mvo0fB6Mz_ktaDoZSoVhXHUB_HflzxcJpsVtPFugfXIf-ZWuk38eqnPAR1zJrhA" style="height:70px; width: 110px;">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                        <tr>
                                            <td valign="top" class="bodyContent" style="padding: 0;">
                                                <img src="https://aivyvg.bn1302.livefilestore.com/y4mdFd7qa1OC_07iWkwP9JxtRm5KDYbjh_brDz1nky01i8KyrKSxarW2yCIYQt3PZBhbPpl4yWpxznESIPk_6bZpjLGveIvrAkK29uPMt_ja8dd9kC5SoG25s5mW31iGfYTS4C_6EJEtBOONTmEpm5zACoWWc03OYSxCmCsykYxc35vwDmN4sqg1HmdW-iHz64ntXzuBYZ3JIWEgPyUCEsTzQ" style="width: 100%; max-height: 120px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content00">
                                                <p>Dear {{name}}</p>
                                                <p>Thank you for signing up. We welcome you and pleased to have you as a new member. You can now order from a range of classic drinks, desserts and shisha to sit back on the sofa and puff at the ceiling. Order online or call us 023 8206 0491.</p>
                                            </td>
                                        </tr>
                                        <tr style="text-align: center;">
                                            <td>
                                                <a href="http://localhost:4200/order"><button type="button" class="btn btn-success btn-lg">Order Now</button></a><br><br>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContent" mc:edit="footer_content00">
                                                <a href="https://www.facebook.com/Cloud7shisha/"><img src="https://aitx4g.bn1302.livefilestore.com/y4mYK3zbwioiAoZrySujrmhYqo1Aq0AQT8w9yWa3m6iAE-vVEJAmQGjvjMOlxGNFihLp1w3cYKNkZbFLxFSrVtKTG1weyvdORDc5-mhxvdBBMFVnQhR7feAvKLk1hOP7ypHBAb6OuLoxcmF2C6_JP9Fr14jk1s2vKqHNp3fdHHBdjJtGRE_JkwL2e48unUqn3yUDD4M81m8DtFwL2EEPfwQFg" style="height: 40px; width: 40px;"></a>&nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/cloud7shisha/"><img src="https://aisoqa.bn1302.livefilestore.com/y4m43k_CkcyGhhfmkWAPkI7MjYeKYAmLtewYW1kl06ruMsXQfjZ4wMDBIwO5WdIh3FlwKv9qm_Y_NeokS7dZxayYFqtHlzWKZdc01CDZjMWNNMZKVL3ZFsX3LOwgjmcstmpazxYve0Dovdil7vAD_EQCZn3IYeeP3Y2ahFN04W8wYmtA2pBwNDnRXL25gDHwvye8ZBSHli8E1TptzrKpgHrKA" style="height: 40px; width: 40px;"></a>&nbsp;&nbsp;&nbsp;<a href="https://www.snapchat.com/add/cloud7shisha"><img src="https://aiv5nq.bn1302.livefilestore.com/y4mX9tuIq2qBIAbhUvt7DKdtI2lTaekyMOtKpyDQghDUBC5UN4f4LYc09VE9TPxWjnn9pd8f484q0xIhvrlDB9rfSm2IOVUJ03n8Oo82iyt-aHuYlVy3R_JqRHDK5YKDwM42250vSDh4TOi5TvolwPM3kxKL-JGQVpBbR1M9qjVGIWFedeN6VcNwVGyz3BGq3wpii44RfMqtsqo6Hu1HlS5FA" style="height: 40px; width: 40px;"></a>&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
                                                <br />
                                                <strong>Our mailing address is: </strong>
                                                cloud7shisha@outlook.com 
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>