
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Order Confirmation</title>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center style="font-family: palatino; font-size: 1.3rem;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td class="alert alert-warning">
                           <img class="navbar-brand" alt="encoded logo" src="https://3ukzpw.dm2301.livefilestore.com/y4mMKVnwpfuk4PeRfSO5AjUTxM6mdluCQVsa0r77oiKfHQSD_G5F4RAI9TdNbJrQJFUvxJVROdqUACEAUfBSr2NZwi6S37xbUiE3KZb3xS3jniFr6tJ2cCg1WGuLmNZzFat4qGlkiYG_PRX75BEZrbab76dlnQtqxFFpkZ2YMLiAVuxrFI1aP9hoXkXJa2paa7HE3wcWPhBpX0eQiRFbdjLNg" style="height:70px; width: 110px;">
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <!-- BEGIN TEMPLATE // -->
                        <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN HEADER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                        <tr>
                                            <td valign="top" class="bodyContent">
                                                <img src="https://2ekzpw.dm2301.livefilestore.com/y4m0MAxhLNNXCbL29q8HM-l1eNpmNfHZhphc2DmVd2d75BEzorLC76BH4-XjjupeDdWJAK5x8dMZC_1l716cwWy1J-sh7NGFzc-c8O10Vib9UsTSX-nn7ILTFx8-0aAZxPRjsixAG1BttPuDGL71UTCahk5XyDAH0QVTVvDRmGgZl2STyp2tVZjO7Lbg8U_lEONteQZoFyvLj6k4VH9R2kCsQ" style="width: 100%; max-height: 150px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END HEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN BODY // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent" mc:edit="body_content00">
                                                <p>Dear {{name}}</p>
                                                <p>Thank you for signing up. We welcome you and pleased to have you as a new member. You can now order all sorts of Shisha to sit back on the sofa and puff at the ceiling. Order online or call us 023 8206 0491.</p>
                                            </td>
                                        </tr>
                                        <tr style="text-align: center;">
                                            <td>
                                                <a href="http://localhost:4200/order"><button type="button" class="btn btn-success btn-lg">Order Now</button></a><br><br>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContent" mc:edit="footer_content00">
                                                <a href="*|TWITTER:PROFILEURL|*">Follow on Twitter</a>&nbsp;&nbsp;&nbsp;<a href="*|FACEBOOK:PROFILEURL|*">Friend on Facebook</a>&nbsp;&nbsp;&nbsp;<a href="*|FORWARD|*">Forward to Friend</a>&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
                                                <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em>
                                                <br />
                                                *|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*
                                                <br />
                                                <br />
                                                <strong>Our mailing address is:</strong>
                                                <br />
                                                *|HTML:LIST_ADDRESS_HTML|* *|END:IF|* 
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>