.container{
    padding-top: 5px;
}
.product-img img{
    max-width: 100%;
    max-height: 100%;
}

.options{
    cursor: pointer;
    border: solid 2px;
    border-color: #EFF5F3;
    border-radius: 15px;
}

.options:hover{
    border-color: #70D6B4;
}

.label{
	margin-left: 10px;
}

.quantity{
	width: 40px;
}

ul{
	list-style: none;
}

.form-control{
  position: relative; 
  width: 50px;
  text-align: center;
}

.qButton-one{
  margin-left: 5px;
  position: relative; width: 25px;
}

.qButton-two{
  position: relative; 
  width: 25px
}

.qLabel{
  position: relative; 
  font-weight: bold;
  margin-left: 20%
}

@media only screen and (max-width: 576px){
  .qLabel{
      position: relative; 
      font-weight: bold; 
      margin-left: 8px;
  }
  .btn-info{
    padding: 3px;
  }
}

.mauto{margin: 0 auto;}
.px2 { padding-right: 2rem; padding-left: 2rem; }
.mt1 {margin-top: 1rem;}
.mb1 {margin-bottom: 1rem;}
.clearfix {
	border-radius: 10px;
	background-color: #F2E6FB;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

.relative{position: relative;}
.absolute{position: absolute;}
.t1{top:2px;}
.r0{right:0;}

.bg-white{background-color: #F2E6FB;}
.bottom-dotted{border-bottom-style: dotted;}
.border-color-light-gray{ border-color: #ccc; }

p, .p{
  font-size: 1.125rem;
  line-height: 1.7rem;
  letter-spacing: 1.5px;
  padding-bottom: 1rem;
  margin:0;
}

.row{
  margin-left: 0;
}